@use "/styles/abstracts" as *;

.profile {
  @include panel;
  max-width: 30rem;

  input[type="file"] {
    display: none;
  }

  input[type="button"] {
    color: #777;
    text-align: start;
  }

  form {
    display: grid;
    grid-template-columns: 140px 1.5fr;

    span {
      grid-row: span 3;
    }

    button {
      grid-column: span 2;
    }
  }
}

.header {
  @include header;
}
