@use "./variables" as *;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media ( min-width: #{ map-get( $breakpoints, $breakpoint ) } ) {
      @content;
    }
  } @else if type_of($breakpoint) == number and unit($breakpoint) == px or unit($breakpoint) == em or unit($breakpoint) == rem {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`.";
  }
}

@mixin header {
  font-size: $size-6;
  margin: $size-3 auto $size-6 auto;
  text-align: center;
}

@mixin panel {
  background-color: $color-white;
  display: grid;
  gap: $size-4;
  grid-template-columns: 1fr;
  margin-inline: auto;
  padding: $size-5;
}
