@use "/styles/abstracts" as *;

.logo {
  align-items: center;
  display: flex;
  font-size: $size-7;
  // font-style: italic;
  font-weight: 600;
  gap: $size-2;
  margin-inline: auto;
  padding-bottom: $size-4;
  padding-left: $size-4;
  padding-top: $size-4;

  @include breakpoint(md) {
    font-size: $size-8;
    margin-inline: 0;
    padding-left: 0;
  }
}
